.we-do-ul {
  list-style: none;
}
.we-do-ul li::before {
  content: "\2022";
  color: white;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.we-do-ul li {
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  margin-left: 22px;
}